<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include("navbar")%>
    <h1>Show Products</h1>
    <label>
        <%for(let i=0;i<products.length;i++){%>
            <li><a href="/product/<%-products[i].id%>"><%=products[i].name%>-<%=products[i].price%></a></li>
        <%}%>
    </label>

    
    
</body>
</html>